# Remove if certain files are committed on purpose
.pio/
.vscode/
.code-workspace
.helper/
/sd-card/htm./.vscode/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
