.pio
.idea
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
version.cpp
sdkconfig.esp32cam
sdkconfig.esp32cam-dev
sdkconfig.esp32s3-eth-v1
sdkconfig.esp32s3-eth-v2
sdkconfig.freenove-esp32s3
sdkconfig.wrover-kit-esp32
