[submodule "code/components/esp32-camera"]
	path = code/components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "code/components/esp-nn"]
	path = code/components/esp-nn
	url = https://github.com/espressif/esp-nn.git
[submodule "code/components/tflite-micro-esp-examples"]
	path = code/components/tflite-micro-esp-examples
	url = https://github.com/espressif/tflite-micro-esp-examples.git
