menu "ESP-NN"

choice NN_OPTIMIZATIONS
   bool "Optimization for nn functions"
   default NN_OPTIMIZED
   help
      Use ANSI-C versions for verification and debug purpose.
      Optimisations are automatically picked up for a chipset.
      For ESP32-S3, assembly optimisations are selected.
      For other platforms(viz., ESP32, ESP32-C3), generic optimisations are used.

config NN_ANSI_C
   bool "ANSI C"
   help
      ANSI C versions for verification and debug purposes.
config NN_OPTIMIZED
   bool "Optimized versions"
   help
      Optimisations are automatically picked up for a chipset.
      For ESP32-S3, assembly optimisations are selected.
      For other platforms(viz., ESP32, ESP32-C3), generic optimisations are used.
endchoice

config NN_OPTIMIZATIONS
   int
   default 0 if NN_ANSI_C
   default 1 if NN_OPTIMIZED

endmenu
